body {
    background-color: burlywood;
    margin: 0;
    padding: 0;
}
header{
    background-color: #4B2E2D; 
    color: white; 
    text-align: center; 
    padding: 20px;
}

footer {
    background-color: #4B2E2D;
    color: white;
    text-align: center;
    padding: 10px;
}